.buttonContainer {
  min-height: 80vh;
  height: 80vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.cardLink {
  cursor: pointer;
}

.cardLink:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.paper {
  padding: 10px;
  margin: 3px;
}

.grow {
  flex-grow: 1;
}

.button {
  margin-left: 10px !important;
}

.select {
  width: 150px !important;
  margin-right: 15px !important;
}

.header {
  color: #444;
}

.header a {
  color: #000;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: rgb(7, 102, 38);
}

.link:visited {
  color: rgb(7, 102, 38);
}

.samltoolBanner {
  padding-top: 40px !important;
  text-align: center;
}

.bottomContainer {
  text-align: center;
}

.subtitle {
  color: #888;
}
