.buttonContainer {
  min-height: 80vh;
  height: 80vh;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.cardLink {
  cursor: pointer;
}

.paper {
  padding: 10px;
  margin: 3px;
}

.grow {
  flex-grow: 1;
}

.button {
  margin-left: 10px !important;
}

.select {
  width: 150px !important;
  margin-right: 15px !important;
}
